{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'comment_add' %}">Add Comment</a></li>
{% endblock %}

{% block content %}
    <h1>Comments:</h1>
    <hr/>
    {% for comment in comments %}
        <h2>{{ comment.text }}</h2>
        <p>Created by {{ comment.author }} at {{ comment.created_at|date:'d.m.Y H:i:s' }}</p>
        <p>{{ comment.article }}</p>
        <p>
{#            <a href="{% url 'article_view' article.pk %}">More...</a>#}
{#            <a href="{% url 'article_update' article.pk %}">Edit</a>#}
{#            <a href="{% url "article_delete" article.pk %}">Delete</a>#}
        </p>
        <hr/>
    {% endfor %}
{% endblock %}
